<div class="tabs-wrap">
	<div class="wrap">
		<ul class="tabs">
			<li class="tabs__link current" data-tab="tab-1"><span class="font-ico-pin"></span>Gde zelis da se premestis?</li>
			<li class="tabs__link" data-tab="tab-2"><span class="font-ico-dog"></span>Najnovija zelja</li>
			<li class="tabs__link" data-tab="tab-3"><span class="font-ico-dog"></span>Sve zelje</li>
		</ul>

		<div id="tab-1" class="tab-content current">
			<form action="">
				<div class="form-wrap">
					<div class="form-left">
						<input type="text" class="input parent-input" placeholder="Ime i prezime roditelja *">
						<input type="text" class="input child-input" placeholder="Ime deteta *">
						<div class="input--with-icon">
							<div class="select-wrap">
								<select>
									<option value="Izaberi trenutnu lokaciju">Izaberi trenutnu lokaciju</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 1</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 2</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 3</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 4</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 5</option>
								</select>
								<span class="input__support-text">
									<span class="font-ico-dog"></span>
									<span class="input-icon__text">Odaberite na mapi</span>
								</span>
							</div>
							<div class="select-wrap">
								<select>
									<option value="Izaberi trenutnu lokaciju">1. Lokacija na koju zelis da se premestis?</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 1</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 2</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 3</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 4</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 5</option>
								</select>
								<span class="input__support-text">
									<span class="font-ico-dog"></span>
									<span class="input-icon__text">Odaberite na mapi</span>
								</span>
							</div>
							<div class="select-wrap">
								<select>
									<option value="Izaberi trenutnu lokaciju">2. Lokacija na koju zelis da se premestis?</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 1</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 2</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 3</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 4</option>
									<option value="Izaberi trenutnu lokaciju">Lokacija 5</option>
								</select>
								<span class="input__support-text">
									<span class="font-ico-dog"></span>
									<span class="input-icon__text">Odaberite na mapi</span>
								</span>
							</div>
						</div>
					</div>
					<div class="form-right">
						<input type="text" class="input input__phone" placeholder="Broj telefona *">
						<input type="email" class="input input__email" placeholder="Email *">
						<div class="input--without-icon">
							<select>
								<option value="Izaberi trenutnu lokaciju">Izaberi starosnu grupu *</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 1</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 2</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 3</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 4</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 5</option>
							</select>
						</div>
						<div class="input--with-icon">
							<select>
								<option value="Izaberi trenutnu lokaciju">3. Lokacija na koju zelis da se premestis?</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 1</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 2</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 3</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 4</option>
								<option value="Izaberi trenutnu lokaciju">Lokacija 5</option>
							</select>
							<span class="input__support-text">
								<span class="font-ico-dog"></span>
								<span class="input-icon__text">Odaberite na mapi</span>
							</span>
						</div>
						<label class="checkbox">Prijavi me za e-mail obavestenja za nova poklapanja i odgovore
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</form>
		</div>
		<div id="tab-2" class="tab-content">
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div id="tab-3" class="tab-content">
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		</div>
	</div>
</div>
