<header class="header">
	<div class="wrap">
		<div class="header__container">
			<a href="/" class="header__home">
				<img src="assets/images/logo.png" alt="" class="header__logo" />
				<img src="assets/images/logo-mobile.png" alt="" class="header__logo header__logo--mobile" />
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item" >
						<a href="javascript:;" data-section-name="questions" class="nav__link">Česta pitanja </a>
					</li>
					<li class="nav__item" >
						<a href="javascript:;" class="nav__link">Pišite nam </a>
					</li>
				</ul>
				<div class="nav__mobile">
					<ul>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								Gde zelis da se premestis?
							</a>
						</li>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								Najnovija zelja
							</a>
						</li>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								Sve zelje
							</a>
						</li>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								Cesta pitanja
							</a>
						</li>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								Pisite nam
							</a>
						</li>
						<li>
							<a class="nav__mobile-link" href="javascript:;">
								<span class="font-ico-map-q-pin"></span>
								O nama
							</a>
						</li>
					</ul>
					<ul class="form-social-links">
						<li>
							<a class="form-link" href="javascript:;">
								<span class="font-ico-messenger"></span> Pisite nam putem Facebook-a</a>
						</li>
						<li>
							<a class="form-link" href="javascript:;">
								<span class="font-ico-facebook"></span> Posetite nas na Facebook-u</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="mobile-icon js-menu-btn">
				<span class="mobile-icon__bar"></span>
				<span class="mobile-icon__bar"></span>
				<span class="mobile-icon__bar"></span>
			</div>
		</div>
	</div>

</header><!-- .header -->
