<header class="header">
	<div class="wrap">
		<div class="header__container">
			<a href="/" class="header__home">
				<img src="assets/images/logo.png" alt="" class="header__logo" />
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item" >
						<a href="javascript:;" class="nav__link">Česta pitanja </a>
					</li>
					<li class="nav__item" >
						<a href="javascript:;" class="nav__link">Pišite nam </a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

</header><!-- .header -->
