//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Open Sans', Arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$orange: #f1592a;

$black-2: #2d3436;

$light-blue: #67d5f4;
$blue-1: #0984e3;

$silver-light: #f8f8f8;
$silver-light-2: #e2e2e2;

$green-dark: #346b79;

$site-colors: (
	'black': $black,
	'white': $white,
	'orange': $orange,
) !default;

//----------  Bootstrap grid
//------------------------------------------------------------------------------

$enable-grid-classes: true !default;

//----------  Media queries breakpoints - Grid breakpoint
//------------------------------------------------------------------------------



$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

//----------  Grid containers
//------------------------------------------------------------------------------

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

//----------  Grid columns
//------------------------------------------------------------------------------

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$easeing: ease;
$trans: 0.3s;