<div class="slider">
	<div class="wrap">
		<div class="slider__container js-slider">
			{{#each images}}
				<figure>
					<img src="{{this.path}}" alt="{{this.alt}}">
				</figure>
			{{/each}}
		</div>
	</div>
</div><!-- .slider-example -->
