//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	@include media-breakpoint-up(lg) {
		&:focus {
			outline: 1px dashed rgba($orange, .2);
		}
	}
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	background-color: $blue-1;
	color: $white;
	font-size: 20px;
	font-weight: 600;
	padding: 13px 20px;
	transition: $easeing $trans;
	@include hover {
		background-color: $light-blue;
	}
}