@font-face {
	font-family: 'svgicons';
	src: url('../assets/fonts/svgicons.woff2?v=1570305716419') format('woff2'),
		url('../assets/fonts/svgicons.woff?v=1570305716419') format('woff'),
		url('../assets/fonts/svgicons.ttf?v=1570305716419') format('truetype');
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-chevron-down-blue {
		$char: '\E001';
	}
	@if $filename == ico-chevron-down {
		$char: '\E002';
	}
	@if $filename == ico-circle {
		$char: '\E003';
	}
	@if $filename == ico-dog {
		$char: '\E004';
	}
	@if $filename == ico-download {
		$char: '\E005';
	}
	@if $filename == ico-envelope {
		$char: '\E006';
	}
	@if $filename == ico-facebook {
		$char: '\E007';
	}
	@if $filename == ico-map-pin {
		$char: '\E008';
	}
	@if $filename == ico-map-q-pin {
		$char: '\E009';
	}
	@if $filename == ico-map {
		$char: '\E00A';
	}
	@if $filename == ico-messenger {
		$char: '\E00B';
	}
	@if $filename == ico-pin {
		$char: '\E00C';
	}
	@if $filename == ico-share {
		$char: '\E00D';
	}
	@if $filename == ico-test {
		$char: '\E00E';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-ico-chevron-down-blue {
	@include font(ico-chevron-down-blue);
}
.font-ico-chevron-down {
	@include font(ico-chevron-down);
}
.font-ico-circle {
	@include font(ico-circle);
}
.font-ico-dog {
	@include font(ico-dog);
}
.font-ico-download {
	@include font(ico-download);
}
.font-ico-envelope {
	@include font(ico-envelope);
}
.font-ico-facebook {
	@include font(ico-facebook);
}
.font-ico-map-pin {
	@include font(ico-map-pin);
}
.font-ico-map-q-pin {
	@include font(ico-map-q-pin);
}
.font-ico-map {
	@include font(ico-map);
}
.font-ico-messenger {
	@include font(ico-messenger);
}
.font-ico-pin {
	@include font(ico-pin);
}
.font-ico-share {
	@include font(ico-share);
}
.font-ico-test {
	@include font(ico-test);
}
