<div class="info">
	<div class="info-wrap">
		<img src="assets/images/logo.png" alt="">
		<div class="info-wrap__content">
			<h2>Hvala na verifikaciji</h2>
			<p>Uspešno ste verifikovali zahtev i time ušli u sistem za premeštaj dece. Poslaćemo Vam e-mail čim dođe do poklapanja.</p>
			<p id="pageUrl"></p>
			{{!-- Zakucao sam adresu ovde da testiram, obavezno promeniti --}}
			<a href="http://localhost:50800/">Vratite se na početnu stranicu</a>
		</div>
	</div>
</div>
