<div class="success-banner">
	<div class="success-banner__wrap wrap">
	   <div class="success-banner__container">
		   <span class="succeess-banner__number">176</span>
		   <span class="font-ico-circle"></span>
	   </div>
     	<p class="succeess-banner__paragraf">ostvarenih premeštaja do sada.</p>
	</div>
</div>
