<div class="success-banner">
	<div class="success-banner__wrap wrap">
		<span class="succeess-banner__number">176</span>
     	<p class="succeess-banner__paragraf">ostvarenih premeštaja do sada.</p>	
	</div>
</div>
