//---------- accordions
//------------------------------------------------------------------------------
.accordions {
	padding-top: 60px;
}

.accordions__wrap {
	margin: 40px auto 50px;
	max-width: 630px;
	width: 100%;
}

.accordions__title {
	color: $black-2;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

.accordion {
	padding: 8px 0;
}

.accordion__btn {
	color: $black-2;
	font-size: 20px;
	font-weight: 600;
	padding-left: 25px;
	position: relative;
	text-align: left;
	transition: $easeing $trans;
	.font-ico-chevron-down {
		color: $blue-1;
		font-size: 14px;
		transform: rotate(-90deg);
		position: absolute;
		left: 0;
		top: 5px;
		transition: $easeing $trans;
	}
	@include hover {
		opacity: .7;
	}
}

.accordion__content {
	display: none;
	padding: 10px 25px;
	p {
		max-width: 480px;
		width: 100%;
	}
}

.accordion--opened {
	.font-ico-chevron-down {
		transform: rotate(0);
	}
}