//----------  footer
//------------------------------------------------------------------------------
.footer {
	padding: 13px 0;
	background-color: $white;
	border-top: 2px solid $light-blue;
}

.footer__wrap {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
	width: 155px;
	height: 52px;
}

.footer__rights {
	font-size: 12px;
	position: relative;	
}

.footer__link {
	color: $light-blue;
	border-bottom: 1px solid $light-blue;
}

.footer__link--right {
	margin-right: 10px;

    &::after {
	    content: '';
        position: absolute;
	    border-right: 1px solid $black;
	    display: block;
	    top: 2px;
		right: 304px;
	    height: 80%;
  
   }
}

.footer__link--left {
	margin-left: 7px; 

	&::before {
		content: '';
		position: absolute;
		border-right: 1px solid $black;
		display: block;
		top: 3px;
		right: 79px;
		height: 80%;
	  
	   }
}