//----------  header
//------------------------------------------------------------------------------
.header {
	padding: 28px 0;
	background-color: transparent;
	position: relative;
	z-index: 2;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 230px;
	height: 78px;
}


.nav__list {
	display: flex;
	justify-content: flex-end;

}
.nav__item {
	font-size: 20px;
	&:not(:last-child) {
		margin-right: 57px;
	}
}
.nav__link {
	color: $white;
	display: block;
	@include hover {
		text-decoration: underline;
		
	}
}