//---------- success-banner
//------------------------------------------------------------------------------

.success-banner {
	background-color: $light-blue;
	padding: 69px 0 64px;
}

.success-banner__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	.font-ico-circle {
		color: $white;
		font-size: 40px;
		margin: 0 15px;
	}

	@include  media-breakpoint-down(sm) {
		flex-direction: column;
	}
}

.succeess-banner__number {
	color: $white;
	font-size: 48px;
	font-weight: 600;

	@include  media-breakpoint-down(sm) {
		font-size: 32px;
	}
	
}

.succeess-banner__paragraf {
	color: $white;
	font-size: 32px;
	font-weight: 600;

	
	@include  media-breakpoint-down(sm) {
		font-size: 16px;
	}

}