<div class="info">
	<div class="info-wrap">
		<img src="assets/images/logo.png" alt="">
		<div class="info-wrap__content">
			<h2>Hvala na kontaktu</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, modi impedit. Veniam harum atque laudantium obcaecati mollitia optio dolor molestiae. Laborum maiores repellendus iusto eaque. Quisquam facilis distinctio nam magnam!</p>
			<a href="javascript:;">Vratite se na pocetnu stranicu</a>
		</div>
	</div>
</div>
