<div class="is-beta">
	<div class="is-beta__container">
		<button type="button" class="is-beta__label js-is-beta-button">BETA</button>
	</div>

	<div class="is-beta__content-container js-is-beta-content">
		<div class="is-beta__content">
			<div class="is-beta__content-header">
				<span class="is-beta__content-title">BETA</span>
				<img src="assets/images/logo-emperor-white.svg" alt="emperor logo" class="is-beta__content-logo">
				<button type="button" class="is-beta__close js-is-beta-button"><span></span></button>
			</div>
			<div class="is-beta__content-body">
				<h4>Your website is in BETA Testing Mode.</h4>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam esse vel natus porro, earum nam eaque suscipit itaque voluptatum distinctio eos minus, vitae aliquid quisquam aut tempore id hic reprehenderit.</p>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, velit dolor! Quam expedita eius accusamus, deleniti voluptates ipsa.</p>
				<button class="is-beta__cta js-is-beta-button">Continue</button>
			</div>
		</div>
	</div>
</div>
