<footer class="footer">
	<div class="wrap footer__wrap">
		<a href="/" class="footer__logo">
				<img src="assets/images/logo.png" alt="" class="footer__logo" />
		</a>
		<span class="footer__rights">Projekat podržavaju <a href="javascript:;" class="footer__link">Inicijativa Digitalna Srbija</a>, <a href="javascript:;" class="footer__link">VegaIT</a>,<a href="javascript:;" class="footer__link footer__link--right"> Elder Creative Agency</a>&copy;Premesti se 2019. All rights reserved. <a href="javascript:;" class="footer__link footer__link--left">Privacy policy</a></span>

	</div>
</footer><!-- .footer -->

