<footer class="footer">
	<div class="wrap">
		<a href="/" class="footer__logo">
				<img src="../../../assets/images/Logo-2.png" alt="" class="footer__logo" />
		</a>

	
	</div>
</footer><!-- .footer -->
