<section class="contact-us" data-section-name="form">
	<div class="contact-us__wrap wrap">
		<h2 class="contact-us__heading">Pišite nam</h2>
		<form action="#" class="contact-us__form">
			<div class="contact-us__email">
				<input class="contact-us__input" type="email" placeholder="E-mail">
				<span class="contact-us__text">Unapred smo zahvalni za sve dobre  i loše stvari na sajtu koje nam javite.</span>
			</div>
			<textarea class="contact-us__textarea" name="message" placeholder="Text"></textarea>
			<span class="contact-us__text--hidden">Unapred smo zahvalni za sve dobre  i loše stvari na sajtu koje nam javite.</span>
			<div class="contact-us__send">
				<a href="javascript:;" class="contact-us__facebook">
					Ili nas pronađite na Facebook-u:
					<span class="font-ico-facebook"></span>
				</a>
				<button class="contact-us__btn btn">Pošalji</button>
			</div>
		</form>
	</div>
</section>
