<div class="contact-us">
	<div class="contact-us__wrapp wrapp">
		<h2 class="contact-us__heading">Pišite nam</h2>
		<form action="#" class="contact-us__form">
			<div class="contact-us__email">
				<input class="contact-us__input" type="email" placeholder="E-mail">
				<span class="contac-us__text">Unapred smo zahvalni za sve dobre  i loše stvari na sajtu koje nam javite.</span>
			</div>
			<textarea class="contact-us__textarea" name="message" placeholder="Text"></textarea>
		</form>
	</div>
</div>
