<div class="accordions" data-section-name="questions">
	<div class="wrap">
		<h2 class="accordions__title">Cesta pitanja</h2>
		<div class="accordions__wrap">
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Kome je namenjan ovaj sajt?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Kako radi ovaj sajt?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Da li ovaj sajt ima veze sa zahtevom koji se podnosti ustanovi, npr. Radosno Detinjstvo?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Koja je svrha ovog sajta ?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					U čemu je prednost ovog sajta ?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Koliko je sigurna moja privatnost ?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__btn js-open-accordion">
					<span class="font-ico-chevron-down"></span>
					Ko je napravio ovaj sajt ?
				</button>
				<div class="accordion__content">
					<p>Premesti.se je namenjan roditeljima koji tragaju za premestaj svoje dece iz jednig vrtica u dugi.</p>
				</div>
			</div>
		</div>
	</div>
</div>
