.wishItem {
  border-bottom: 1px solid #444;
  padding-bottom: 32px;
  padding-top: 32px;
}

.inputSpanGlobalWrapper {
  width: 100%;
}

.inputSpanWrapperPhone {
  display: inline-block;
  width: 48%;
}

.inputSpanWrapperDate {
  display: inline-block;
  width: 48%;
  margin-left: 19px;
  padding: 0;
}

.input__phone {
  max-width: 100%;
}

.input__date {
  width: 100%;
}

.banner {
  background-image: url(/assets/images/baby-boy-child-159533.jpg);
}

.errorMessageMainForm {
  color: red;
}

.errorMessageContactForm {
  color: yellow;
  display: block;
  margin-bottom: 32px;
}

.blockSpan {
  display: block;
}

.noMarginBottom {
  margin-bottom: 0;
} 