.wishItem {
  border-bottom: 1px solid #444;
  padding-bottom: 32px;
  padding-top: 32px;
}

.privacyHeader {
  color: white;
  margin-left: 25px;
}
div.scrollBox {
  
  width: 67%;
  height: 500px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 29px;

}

.inline_block {
  display: inline-block;
}

.inputSpanGlobalWrapper {
  width: 100%;
}
.checkBoxMiddleAlign
{
    vertical-align:middle;
}

.inputSpanWrapperPhone {
  display: inline-block;
  width: 100%;
}

.inputSpanWrapperDate {
  display: inline-block;
  width: 48%;
  margin-left: 19px;
  padding: 0;
}

.input__phone {
  max-width: 100%;
  width: 100%;
}

.input__date {
  width: 100%;
}
.noMarginLeft{
  margin-left: 0;
}
.mainPrivacyPolicyCheckBox {
  margin-top: 25px;
}

.banner {
  background-image: url(/assets/images/baby-boy-child-159533.jpg);
}

.errorMessageMainForm {
  color: red;
 
}

.errorMessageContactForm {
  color: yellow;
  display: block;
  margin-bottom: 32px;
}

.blockSpan {
  display: block;
}

.noMarginBottom {
  margin-bottom: 0;
} 